<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Polyjuice.AppStoreClient</Namespace>
  <Channel>Stable</Channel>
  <Version>2.0.0-pre11</Version>
  <AppName>AppStoreClient</AppName>
  <Executable>app/AppStoreClient.exe</Executable>
  <ResourceFolder>wwwroot</ResourceFolder>
  <ImageUri>AppStoreClient.png</ImageUri>
  <DisplayName>App Store</DisplayName>
  <Company>Polyjuice</Company>
  <Description>App Store (tested with Starcounter 2.0.3231.3)</Description>
  <VersionDate>2015-06-23T10:32:00Z</VersionDate>
</PackageConfig>