<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Polyjuice.AppStoreClient</Namespace>
  <Channel>Stable</Channel>
  <Version>2.0.3</Version>
  <AppName>AppStoreClient</AppName>
  <Executable>app/AppStoreClient.exe</Executable>
  <ResourceFolder>wwwroot</ResourceFolder>
  <ImageUri>AppStoreClient.png</ImageUri>
  <Company>Polyjuice</Company>
  <DisplayName>App Store</DisplayName>
  <Description>Mix and match the best of breed apps that share data on a shared screen.</Description>
  <VersionDate>2015-08-13T14:54:00Z</VersionDate>
  <Dependency name="Starcounter">2.0.3297.3</Dependency>
</PackageConfig>