<link rel="import" href="/sys/puppet-redirect/src/puppet-redirect.html">
<link rel="import" href="/sys/star-rating/star-rating.html">
<link rel="stylesheet" href="/AppStoreClient/css/master.css">


<template bind="{{AppStoreClient}}">

    <Style>


        h1 {
            /*font-family: times, Times New Roman, times-roman, georgia, serif;*/
            /*font-size: 48px;*/
            /*line-height: 40px;*/
            letter-spacing: -1px;
            font-size: 400%;
            color: #444444;
            margin: 0px 0px 10px 10px;
            padding: 0px;
            font-weight: 100;
        }

        .errorNotice {
            color: #FFFFFF;
            padding: 5px 5px 5px 5px;
            background-color: #F57900;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .appStoreItemPanel {
            background:#f8f8f8;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: left;
            justify-content: left;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-align-content: flex-end;
            align-content: flex-end;
            padding:10px;
        }

        .appStoreItem {
            font-family:'Myriad Pro';
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            width: 380px;
            height: 215px;
            background-color: rgba(255, 255, 255, 1);
            color: #000000;
            border: 1px solid rgba(15, 51, 84, 0.36);
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.17);
            border-radius: 4px;
            box-sizing: border-box;
            margin: 6px;
            vertical-align: top;
            padding: 15px;
        }

        /* App Item Top part */
        .appStoreItem > div:first-child {
            display: -webkit-flex;
            display: flex;
            -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
        }

        /* App Image Panel */
        .appStoreItem > div:first-child > div:nth-child(1) {
            border-radius: 5px;
        }

        /* App Image */
        .appStoreItem > div:first-child > div:nth-child(1) > img {
            padding: 15px;
            height: auto;
            width: auto;
            max-width: 110px;
            max-height: 110px;
        }

        /* App Properties  */
        .appStoreItem > div:first-child > div:nth-child(2) {
            flex: 1 1 0;
            margin-left: 10px;
            margin-right: 10px;
        }

        /* App Actions  */
        .appStoreItem > div:first-child > div:nth-child(3) {
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
        }

        /* App Buttons */
        .appStoreItem > div:first-child > div:nth-child(3) > button {
            border: 0px;
            padding: 5px 10px 5px 10px;
            color: white;
            border-radius: 2px;
            min-width: 100px;
            margin-bottom: 5px;
            cursor:pointer;
        }

        /* App Item Bottom part */
        .appStoreItem > div:last-child {
            -webkit-flex: 1 0 0;
            flex: 1 0 0;
            overflow: auto;
        }

        .appStoreItem > div:last-child > h1 {
            font-size: 130%;
            margin: 10px 0px 10px 0px;
            color: #000000;
        }

        .appStoreItem > div:last-child > p {
            font-size: 100%;
            margin: 0px;
            color: #444444;
        }

        .appStoreItem table {
            color: #444444;
        }


        .appStoreItemPanel a:link {
            text-decoration: none;
        }


    </Style>

    <template if="{{ErrorResponce.Text}}">
        <div class="errorNotice">{{ErrorResponce.Text}}</div>
    </template>

    <template repeat="{{store in AppStores}}">

        <h1>{{store.DisplayName}} Store</h1>

        <div class="appStoreItemPanel">

            <template repeat="{{item in store.Items}}">

                    <div class="appStoreItem">
                        <!-- Top part -->
                        <div>
                            <!-- Image -->
                            <div>
                                <!--<img style="padding:10px; height: auto; width: auto; max-width: 110px; max-height: 110px;" src="{{item.ImageUrl}}" />-->
                                <img src="{{item.ImageUrl}}" />
                            </div>

                            <!-- Properties -->
                            <div >
                                <table>
                                    <tbody>
                                        <tr><td>{{item.DisplayName}}</td></tr>
                                        <tr><td>Version {{item.Version}}</td></tr>
                                        <tr><td><star-rating stars="5" rate="0"></star-rating></td></tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Actions -->
                            <div >
                                <template if="{{item.IsBusy$}}">
                                    <div style="margin-left:50px" class="spinner medium"></div>
                                </template>

                                <template if="{{!item.IsBusy$}}">
                                    <template if="{{!item.IsInstalled}}">
                                        <button style="background: #1E81DE" onclick="getModel(this).item.IsBusy$ = true;getModel(this).item.Install$++">Install</button>
                                    </template>

                                    <template if="{{item.IsInstalled}}">
                                        <button style="background: #479E13" onclick="getModel(this).item.IsBusy$ = true;getModel(this).item.Start$++">Start</button>
                                    </template>

                                    <template if="{{item.NewVersionAvailable && item.IsInstalled}}">
                                        <button style="background: #1E81DE" onclick="getModel(this).item.IsBusy$ = true;getModel(this).item.Upgrade$++">Upgrade</button>
                                    </template>

                                    <template if="{{item.IsInstalled}}">
                                        <button style="background: #DE3F1E" onclick="getModel(this).item.IsBusy$ = true;getModel(this).item.Stop$++">Stop</button>
                                        <button style="background: #DE3F1E" onclick="getModel(this).item.IsBusy$ = true;getModel(this).item.Uninstall$++">Uninstall</button>
                                    </template>
                                </template>
                            </div>
                        </div>

                        <!-- Bottom part, description -->
                        <div>
                            <h1>{{item.Heading}}</h1>
                            <p>{{item.Description}}</p>
                        </div>
                    </div>
            </template>
        </div>
    </template>

    <link is="puppet-redirect" history url="{{ RedirectUrl }}">

</template>
